<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RestaurantSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RestaurantSystem.Properties.Settings>
      <setting name="Users" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddUsers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MagUsers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateUsers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteUsers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Category" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddCategory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MagCategory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateCategory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteCategory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Order" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddOrder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MagOrder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteOrder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Product" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddProduct" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MagProduct" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateProduct" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteProduct" serializeAs="String">
        <value>True</value>
      </setting>
    </RestaurantSystem.Properties.Settings>
  </userSettings>
</configuration>